<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENIssues</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 min-h-screen">
    <header class="bg-gray-900 rounded-lg shadow-sm m-4 dark:bg-gray-800">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl dark:text-white text-center">ENIssues</h1>
    </header>

    <section class="bg-gray-300 rounded-lg shadow-sm m-4 text-center w-3/5 flex flex-col justify-center items-center mx-auto text-lg">
        <div class="font-bold">
            <%= issue.titre %>
        </div>
        <div>
            <%= issue.description %>
        </div>
        <div>
            <%= issue.auteur %>, le <%= issue.date %>
        </div>
        <div>
            <% if (issue.etat == 'resolu') { %>
                <p class="text-green-500 inline-flex items-center line-through">
                    Résolu!
                </p>
            <% } else { %>
                <p class="text-red-500 inline-flex items-center underline">
                    En cours!
                </p>   
            <% } %>
        </div>
        <a href="/edit-issue/<%=issue.uuid%>">
        <button class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Modifier</button>
        </a>
    </section>

    <section class="bg-gray-300 rounded-lg shadow-sm m-4 text-center w-3/5 flex flex-col justify-center items-center mx-auto text-lg">
        <form action="" method="post">
            <div>            
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Répondre à cette issue:</label>
                <textarea id="message" rows="4" cols="120" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Répondre ici..."></textarea>
            </div>
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Auteur:</label>
                <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Votre nom..." required />
            </div>
            <button type="submit" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Envoyer</button>
        </form>
    </section>

    <footer class="bg-gray-900 text-white rounded-lg shadow-sm m-4 dark:bg-gray-800 text-center m-2">
        &copy; ENI TOP GROUP Y-A-A
    </footer>
</body>
</html>