<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENIssues</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <header class="bg-blue-900 rounded-lg shadow-sm m-4">
        <a href="/">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-red-100 md:text-5xl lg:text-6xl text-center">ENIssues</h1>
        </a>
    </header>

    <section
      class="bg-gray-300 rounded-lg shadow-sm m-4 text-center w-3/5 flex flex-col justify-center items-center mx-auto text-lg"
    >
      <form
        action="/edit-issue/<%=issue.uuid%>"
        method="post"
        class="w-full flex flex-col justify-center items-center mx-auto"
      >
        <div class="m-3 w-full flex justify-center items-center mx-auto">
          <label for="titre" class="mr-4">Titre:</label>
          <input
            type="text"
            name="titre"
            id="titre"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-8/12"
            value="<%= issue.titre %>"
          />
        </div>

        <div class="m-3 w-full flex justify-center items-center mx-auto">
          <label for="description" class="mr-4">Description:</label>
          <textarea
            name="description"
            id="description"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-8/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
 <%= issue.description %> </textarea
          >
        </div>

        <div class="m-3 w-full flex justify-center items-center mx-auto">
          <label for="auteur" class="mr-4">Auteur:</label>
          <input
            type="text"
            name="auteur"
            id="auteur"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-8/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value="<%= issue.auteur %>"
          />
        </div>

        <div class="m-3 w-full flex justify-center items-center mx-auto">
          <label for="date" class="mr-4">Date: </label><%= issue.date %>
        </div>

        <div class="m-3">
          <button
            type="submit"
            class="m-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          >
            Modifier
          </button>
        </div>
      </form>
    </section>
  </body>
</html>
